*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# FinFit Temporary files
*.log
tmp_build*.txt
compile_err.txt
err.txt
build_log*.txt

# Build artifacts
app/build_old/
app/build/
.kotlin/
.vscode/

